<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta
		http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Tell the browser to be responsive to screen width -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, AdminWrap lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Elegant admin lite design, Elegant admin lite dashboard bootstrap 4 dashboard template">
		<meta name="description" content="Elegant Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
		<meta name="robots" content="noindex,nofollow">
		{% block title %}
		{% endblock %}
		<title>Agency Administration</title>
		{% block stylesheet %}{% endblock %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="canonical" href="https://www.wrappixel.com/templates/elegant-admin-lite/"/>
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset('admin/assets/images/favicon.png')}}">
		<link href="{{asset('admin/assets/node_modules/morrisjs/morris.css')}}" rel="stylesheet">
		<link href="{{asset('admin/assets/node_modules/c3-master/c3.min.css')}}" rel="stylesheet">
		<link href="{{asset('admin/dist/css/style.css')}}" rel="stylesheet">
		<link href="{{asset('admin/dist/css/pages/dashboard1.css')}}" rel="stylesheet">
	</head>

	<body class="skin-default-dark fixed-layout">
		<aside class="left-sidebar">
			<div class="d-flex no-block nav-text-box align-items-center">
				<span><img src="{{asset('admin/assets/images/logo-icon.png')}}" alt="elegant admin template"></span>
				<a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)">
					<i class="ti-menu"></i>
				</a>
				<a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)">
					<i class="ti-menu ti-close"></i>
				</a>
			</div>
			<div class="scroll-sidebar">
				<nav class="sidebar-nav">
					<ul id="sidebarnav">
						<li>
							<a class="waves-effect waves-dark" href="{{path('app_home')}}" aria-expanded="false">
								<i class="fa fa-home"></i>
								<span class="hide-menu"></span>Acceuil du Site</a>
						</li>
						<li>
							<a class="waves-effect waves-dark" href="" aria-expanded="false">
								<i class="fa fa-id-card"></i>
								<span class="hide-menu"></span>Profile</a>
						</li>
						<li>
							<a class="waves-effect waves-dark" href="{{path('app_admin_property')}}" aria-expanded="false">
								<i class="fa fa-building"></i>
								<span class="hide-menu">Manage Property</span>
							</a>
						</li>
						<li>
							<a class="waves-effect waves-dark" href="{{path('app_admin_option_index')}}" aria-expanded="false">
								<i class="fa fa-list-alt "></i>
								<span class="hide-menu"></span>Manage Option</a>
						</li>
						<li>
							<a class="waves-effect waves-dark" href="" aria-expanded="false">
								<i class="fa fa-users"></i>
								<span class="hide-menu"></span>Manage User</a>
						</li>
						<li>
							<a class="waves-effect waves-dark" href="{{path('app_logout')}}" aria-expanded="false">
								<i class="fa fa-sign-out"></i>
								<span class="hide-menu"></span>Logout</a>
						</li>
						<div class="text-center m-t-30"></div>
					</ul>
				</nav>
			</div>
		</aside>
		{% block contentAdmin %}{% endblock %}
		{% block javascript %}{% endblock %}

	</body>
</html>