{% extends 'base.html.twig' %}

{% block title %}buy a house|Agence{% endblock %}

{% block body %}
<main>
  <section class="py-5 text-center container">
	<div class="row py-lg-5">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-light">SEARCH</h1>
      {{form_start(form)}}
        {{form_row(form.maxSurface)}}
        {{form_row(form.minPrice)}}
        	<p>
				<a href="#" class="btn btn-primary my-2 btn-block"> <i class="fa fa-search"></i>  search</a>
			</p>
      {{form_end(form)}}
		</div>
	</div>
</section>
  <div class="album py-5 bg-light">
    <div class="container">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">HOUSE LIST</h1>
      </div>
    </div>
  </section>
      {% if propertys |length == 0 %}
        <div class="row">
          <div class="col-12">
            <div class="alert alert-danger text-center">
              NO PROPERTY IN DATABASE
            </div>
          </div>
        </div>
      {% else %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for property in propertys%}
        <div class="col mb-4">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <h6 style="font-weight: bold  ;">{{property.title|upper}}</h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{path('app_property_show',{'id': property.id,'slug':property.slug})}}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                  <a href="" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                </div>
                <small class="text-muted">{{property.formattedPrice}}€</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      	<div class="navigation">
    		{{ knp_pagination_render(propertys) }}
		</div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
