{% extends 'base.html.twig' %}

{% block title %}buy a house|Agence
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5">
		<div class="row d-flex justify-content-center">
			<div class="col-md-10">
				<div class="card">
					<div class="row">
						<div class="col-md-6">
							<div class="images p-3">
								<div class="text-center p-4">
									<img id="main-image" src="https://i.imgur.com/Dhebu4F.jpg" width="250" class="img-thumbnail"/>
								</div>
								<div class="thumbnail text-center">
									<img onclick="change_image(this)" src="https://i.imgur.com/Rx7uKd0.jpg" width="70" class="img-thumbnail">
									<img onclick="change_image(this)" src="https://i.imgur.com/Dhebu4F.jpg" width="70" class=class="img-thumbnail">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="product p-4">
								<div class="mt-4 mb-3">
									<h5 class="text-uppercase">{{property.title}}</h5>
									<div class="price d-flex flex-row align-items-center">
										<span class="act-price">{{property.rooms}}ROOMS-</span>
										<div class="ml-2">
											<small class="dis-price">{{property.surface}}-</small>
											<span>{{property.city | upper}}</span>
										</div>
									</div>
								</div>
								<p class="about">{{property.description|nl2br}}</p>
								<div class="sizes mt-5">
									<h6 class="text-uppercase">price:
										{{property.formattedPrice()}}€</h6>
								</div>
								<div class="cart mt-4 align-items-center">
									<button class="btn btn-danger text-uppercase mr-2 px-4">Contct Agency</button>
									<i class="fa fa-heart text-muted"></i>
									<i class="fa fa-share-alt text-muted"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-md-8">
				<h2>Features</h2>
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">Surface</th>
							<td>{{property.surface}}m²</td>
						</tr>
						<tr>
							<th scope="row">Rooms</th>
							<td>{{property.rooms}}</td>
						</tr>
						<tr>
							<th scope="row">Bedrooms</th>
							<td>{{property.bedrooms}}</td>
						</tr>
						<tr>
							<th scope="row">Floor</th>
							<td>{{property.floor}}</td>
						</tr>
						<tr>
							<th scope="row">Heat</th>
							<td>{{property.heatType}}</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="col-md-4">
				<h2>Specificities</h2>

			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		function change_image(image) {
var container = document.getElementById("main-image");
container.src = image.src;
}
document.addEventListener("DOMContentLoaded", function (event) {});
	</script>
{% endblock %}

